.header {
  position: relative;
}

.swiper {
  height: 300px;

  .bgSlide {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    height: inherit;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    filter: brightness(.8);
    border-radius: 5px 5px 0px 0px;
    z-index: -1;
  }
}

.swiperSlide {
  display: flex;
  align-items: flex-end;

  h1 {
    width: 198px;
    font-size: 28px;
    line-height: 33px;
    margin: 0 0 40px 40px;

    color: #fff;
    text-transform: uppercase;

    @media (max-width:360px) {
      font-size: 20px;
      margin: 0 0 30px 30px;
      line-height: 23px;
    }
  }
}