.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  height: 120px;
  font-weight: bold;

  & p {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;

    a {
      color: #05A081;
      margin: 0 7px;
      text-decoration: none;


      &:hover {
        text-decoration: underline;
      }
    }
  }

  hr {
    height: 11px;
    border: 1px solid #f7f7f7;
  }

  span {
    color: #fff;
    margin-left: 7px;
  }
}