.search {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;


  width: 340px;
  height: 60px;
  padding: 0 28px;

  background: #FFFFFF;
  color: #000;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
  font-size: 20px;
  line-height: 28px;

  border: 0;
  outline: none;

  transition: width 0.3s;

  &::placeholder {
    color: #747474;
  }

  &:focus {
    width: 344px;

    &::placeholder {
      color: transparent;
    }
  }
}